<html>
<title>Koha staff client</title>
<head>
</head>
<body id="main_intranet-main" class="intranet-main">

<div id="breadcrumbs">Home</div>

[% MACRO jsinclude BLOCK %]
    <script>
        var ok = "I am in body";
    </script>
[% END %]
</body>
</html>
